<!DOCTYPE html>
<html>
<head>
  <title>Rust Homepage</title>
  <link rel="stylesheet" href="css/homepage.css" ></link>
</head>
<body>
  <div class="topnav">
    <a>BLOG.RS</a>
  </div>
  <div>
    <form action="/new_post" method="post" accept-charset="utf-8">
        name:<input type="username" name="name">
        Body:<input type="text" name="body">
        <button type="submit" name="button"></button>
    </form>
  </div>
</body>
</html>
